.aside {
    width: 200px;
    height: 600px;
    line-height:2;
}

.discuss_a {
    text-decoration: none;
    font-size: large;
}

.container {
    width: 180px;
    margin: 0 px;
    height: auto;
    overflow: hidden;
    border: gray 3px solid;
    border-radius: 15px;
    background-color:rgba(226, 226, 219, 0.794);
    float:left;
}

.aside_menu {
    font-weight: bold;
    list-style-type: none;
    list-style-position: left;
    padding-left: 20px;
    font-size:30px;
}

.aside_menu a {
    border: gray 1px solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    font-size: 30px;
}

table {
	border: 2px solid black ;
	width:600px ;
	font-size:large;
}
.ArticalList{
	 display: block;
	 float:left;
	 margin-left:10px;
	 height:fit-content;
	 width:1000px;
}
