.aside {
    width: 150px;
    height: 600px;
    line-height:2.5;
}

.discuss_a {
    text-decoration: none;
    font-size: large;
}

.container {
    width: 120px;
    margin: 0 px;
    height: auto;
    overflow: hidden;
    border: gray 3px solid;
    border-radius: 15px;
    background-image: url("../images/墨綠色背景.jpg");
    float:left;
}

.aside_menu {
    font-weight: 700;
    list-style-type: none;
    list-style-position: left;
    padding-left: 20px;
}

.aside_menu a {
    border: gray 1px solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    font-size: 20px;
}

table {
	border: 2px solid black ;
	width:600px ;
	font-size:large;
}
.ArticalList{
	 display: block;
	 float:left;
	 margin-left:10px;
	 height:600px;
}
