/*會員中心和管理員介面*/
.MC_title{
    border: tan solid 1px;
    border-radius: 15px;
    color: black;
    font-size: 20px;
    background-color: #B2E6C8;
    margin:auto;
}

.MC_fieldset_left {
    line-height: 30px;
    background-color: rgba(226, 226, 219, 0.794);
    border: 2px green dashed;
    border-radius: 20px;
    width: 200px;
    height:550px;
    margin: 20px;
    padding: 30px;
    float:left;
}

.MC_fieldset_right {
    line-height: 30px;
    background-color: rgba(226, 226, 219, 0.794);
    border: 2px green dashed;
    border-radius: 20px;
    width: 1450px;
    height:550px;
    margin: 20px;
    padding: 30px;
    float:left;
}

.MC_td{
	text-align:center;
	margin-bottom:10px;
    color: blue;
    font-size: 25px;
    font-weight:bold;
    width: 5px;
    border: 2px gray solid;
    border-radius: 15px;
    background-image: url(../images/木質背景1.jpg);
}

/*個人會員資料更動*/
.UMP_title{
	text-align:center;
    border: tan solid 1px;
    border-radius: 15px;
    height:50px;
    color: black;
    font-size: 40px;
    background-color: #B2E6C8;
    padding-top:20px;
}

.UMP_td{
    color: #14353A;
    font-size: 30px;
    width: 200px;
}

.UMP_input{
	border:5px #8DD8D7 outset;
	height:30px;
	font-size: 30px;
	background-color: #E6F3D8;
	width:400px;
}

.UMP_Btn{
	border:5px #8DD8D7 outset;
    border-radius: 15px;
    color: black;
    width: 150px;
    text-align: center;
    background-color: #E6F3D8;
    font-size: 25px;
    font-weight:bold;
}

.UMP_link{
    color: black;
    font-size:30px;
    text-decoration:none;
}


/*登入畫面*/
.LO_fieldset {
    line-height: 30px;
    background-color: rgba(226, 226, 219, 0.794);
    border: 2px green dashed;
    border-radius: 20px;
    width: 700px;
    margin: 20px;
    padding: 30px;
    margin: auto;
}

.LO_title{
    border: tan solid 1px;
    border-radius: 15px;
    color: black;
    font-size: 30px;
    background-color: #B2E6C8;
    margin:auto;
}

.LO_td{
    color: #14353A;
    font-size: 30px;
    width: 200px;
}

.LO_input{
	border:5px #8DD8D7 outset;
	height:30px;
	font-size: 30px;
	background-color: #E6F3D8;
	width:300px;
}

.LO_loginBtn{
	border:5px #8DD8D7 outset;
    border-radius: 15px;
    color: black;
    width: 150px;
    text-align: center;
    background-color: #E6F3D8;
    font-size: 25px;
    font-weight:bold;
}

.LO_link{
    color: red;
    font-size:30px;
    text-decoration:none;
}

/*註冊畫面*/
.RE_fieldset{
    line-height: 30px;
    background-color: rgba(226, 226, 219, 0.794);
    border: 2px green dashed;
    border-radius: 20px;
    width: 700px;
    margin: 20px;
    padding: 30px;
    margin: auto;
}

.RE_title{
    border: tan solid 1px;
    border-radius: 15px;
    color: black;
    font-size: 30px;
    background-color: #B2E6C8;
    margin:auto;
}

.RE_td_red{
    color: red;
    font-size: 30px;
    width: 300px;
}

.RE_td{
    color: #14353A;
    font-size: 30px;
    width: 300px;
}

.RE_input{
	border:5px #8DD8D7 outset;
	height:30px;
	font-size: 30px;
	background-color: #E6F3D8;
	width:400px;
}

.RE_btn{
	border:5px #8DD8D7 outset;
    border-radius: 15px;
    color: black;
    width: 150px;
    text-align: center;
    background-color: #E6F3D8;
    font-size: 25px;
    font-weight:bold;
}

.RE_span{
	font-size: 30px;
}

.img1{
    float: right;
    width: 150px;
}

.img2{
    height:500px;
    width: 500px;
}

.in{
    color: #14353A;
    font-size: 20px;
}

.link{
    color: green;
    font-size:20px;
    text-decoration:none;
}

/*停權開關*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
 
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
 
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
 
.slider:before {
/* 	未開顏色 */
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;
  background-color: yellow;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
 
input:checked + .slider {
	/* 	以開顏色 */
  background-color: hotpink;
}
 
input:checked + .slider:before { 
/* 按鈕顏色 */
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}