/*會員中心和管理員介面*/
.MC_title{
    border: tan solid 1px;
    border-radius: 15px;
    color: black;
    font-size: 25px;
    background-color: #B2E6C8;
    margin:auto;
}

.MC_fieldset_left {
    line-height: 30px;
    background-color: rgba(226, 226, 219, 0.794);
    border: 2px green dashed;
    border-radius: 20px;
    width: 200px;
    height:700px;
    margin: 20px;
    padding: 30px;
    float:left;
}

.MC_fieldset_right {
    line-height: 30px;
    background-color: rgba(226, 226, 219, 0.794);
    border: 2px green dashed;
    border-radius: 20px;
    width: 1300px;
    height:700px;
    margin: 20px;
    padding: 30px;
    float:left;
    position: absolute;
    margin-left:350px;
}

.MC_td{
	text-align:center;
	margin-bottom:10px;
    color: blue;
    font-size: 25px;
    font-weight:bold;
    width: 5px;
    border: 2px gray solid;
    border-radius: 15px;
    background-color:#F3EAD8;
}

.MC_td:hover{
	text-align:center;
	margin-bottom:10px;
    color: blue;
    font-size: 25px;
    font-weight:bold;
    width: 5px;
    border: 2px gray solid;
    border-radius: 15px;
    background-color:#E3D1A8;
    transform:scale(1.3);
}

.MC_welcome{
	text-align:center;
	margin-bottom:10px;
    color: #3D2116;
    font-size: 25px;
    font-weight:bold;
    width: 200px;
    border-radius: 15px;
    background-color:#F3EAD8;
    border: 2px gray solid;
}

.MC_pictd{
	width:150px;
	height:150px;
	border-radius: 50px;
}

.MC_pic{
	width:200px;
	height:200px;
	border-radius: 50px;
}


.MC_link{
    color: blue;
    font-size:25px;
    text-decoration:none;
}

.MC_memtd1{
    color: #14353A;
    font-size: 25px;
    width: 100px;
    background-color:#D7B988;
    border: gray solid 2px;	
    border-radius: 5px;
    font-weight:bold;
}

.MC_memtd2{
    color: #14353A;
    font-size: 25px;
    width: 200px;
    background-color:#E6F3D8;
    border: gray solid 2px;
    border-radius: 5px;
}

/*管理員會員清單(查詢結果)*/
.SM_title{
	text-align:center;
    border: tan solid 1px;
    border-radius: 15px;
    height:50px;
    color: black;
    font-size: 40px;
    background-color: #B2E6C8;
    padding-top:20px;
}

.SM_table{
	border:1px #E6DCB2 outset;
}

.SM_th{
 	background-color:#D7B988;
 	color: black;
    font-size: 25px;   
}

.SM_tr:nth-of-type(even){
 	background-color:#E6F3D8;
 	color: black;
    font-size: 25px;
}

.SM_tr:nth-of-type(odd){
 	background-color:#D8F3DD;
 	color: black;
    font-size: 25px;
}

/*個人會員資料更動*/
.UMP_title{
	text-align:center;
    border: tan solid 1px;
    border-radius: 15px;
    height:50px;
    color: black;
    font-size: 40px;
    background-color: #B2E6C8;
    padding-top:20px;
}

.UMP_td1{
 color: #14353A;
    font-size: 25px;
    width: 150px;
    background-color:#D7B988;
    border: gray solid 2px;	
    border-radius: 5px;
    font-weight:bold;
}

.UMP_td2{
    font-size: 25px;
    width: 150px;
}

.UMP_input{
	border:5px #8DD8D7 outset;
	height:30px;
	font-size: 25px;
	background-color: #E6F3D8;
	width:300px;
}

.UMP_Btn{
	border:5px #8DD8D7 outset;
    border-radius: 15px;
    color: black;
    width: 150px;
    text-align: center;
    background-color: #E6F3D8;
    font-size: 25px;
    font-weight:bold;
}

.UMP_link{
    color: black;
    font-size:25px;
    text-decoration:none;
}

.UMP_pic{
	width:150px;
	height:150px;
	border-radius: 50px;
}

/*登入畫面*/
.LO_fieldset {
    line-height: 30px;
    background-color: rgba(226, 226, 219, 0.794);
    border: 2px green dashed;
    border-radius: 20px;
    width: 700px;
    margin: 20px;
    padding: 30px;
    margin: auto;
}

.LO_title{
    border: tan solid 1px;
    border-radius: 15px;
    color: black;
    font-size: 30px;
    background-color: #B2E6C8;
    margin:auto;
}

.LO_reslink{
	float: right;
}

.LO_forgetlink{
    color: #808080;
    font-size:25px;
    text-decoration:none;
}

.LO_td{
    color: #14353A;
    font-size: 25px;
    width: 120px;
}

.LO_input{
	border:5px #8DD8D7 outset;
	height:30px;
	font-size: 25px;
	background-color: #E6F3D8;
	width:300px;
}

.LO_span{
	font-size: 25px;
}

.LO_loginBtn{
	border:5px #8DD8D7 outset;
    border-radius: 15px;
    color: black;
    width: 150px;
    text-align: center;
    background-color: #E6F3D8;
    font-size: 25px;
    font-weight:bold;
}

.LO_google{
	background-color: transparent;
	border:transparent;
}

.LO_googleImg{
	width:80px;
	height:80px;
}

/*註冊畫面*/
.RE_fieldset{
    line-height: 30px;
    background-color: rgba(226, 226, 219, 0.794);
    border: 2px green dashed;
    border-radius: 20px;
    width: 800px;
    margin: 20px;
    margin:auto;
    padding: 30px;
    margin: auto;
}

.RE_title{
    border: tan solid 1px;
    border-radius: 15px;
    color: black;
    text-align:center;
    font-size: 30px;
    background-color: #B2E6C8;
    margin:auto;
}

.RE_td{
    color: #14353A;
    font-size: 25px;
    width: 150px;
}

.RE_input{
	border:5px #8DD8D7 outset;
	height:30px;
	font-size: 25px;
	background-color: #E6F3D8;
	width:300px;
}

.RE_btn{
	border:5px #8DD8D7 outset;
    border-radius: 15px;
    color: black;
    width: 150px;
    text-align: center;
    background-color: #E6F3D8;
    font-size: 25px;
    font-weight:bold;
}

.RE_span{
	font-size: 25px;
}

.RE_gen {
	display: none;
}

.RE_gen + .RE_genLabel {
	display: inline-block;
	background-color: lightgrey;
	font-size: 25px;
	cursor: pointer;
	padding: 5px 10px;
}

.RE_gen:checked + .RE_genLabel {
	background-color: #E6F3D8;
	border:5px #8DD8D7 outset;
	font-size: 25px;
	color: black;
	font-weight:bold;
}

.RE_birthday{
	background-color: #E6F3D8;
	width:200px;
	height:30px;
	border:5px #8DD8D7 outset;
	font-size: 25px;
}

.RE_select{
	background-color: #E6F3D8;
	border:5px #8DD8D7 outset;
	font-size: 25px;
}

/*註冊成功畫面*/
.RES_fieldset{
    line-height: 30px;
    background-color: rgba(226, 226, 219, 0.794);
    border: 2px green dashed;
    border-radius: 20px;
    width: 700px;
    margin: 20px;
    padding: 30px;
    margin: auto;
}

.RES_div{
	font-size: 50px;
    font-weight:bold;
    text-align: center;
    color: #3D2116;
}

.RES_p{
	font-size: 30px;
    text-align: center;
    color: #674824;
}

.RES_link{
    color: black;
    font-size:30px;
    font-weight:bold;
    text-align: center;
    text-decoration:none;
}

.RES_btn{
	border:5px #8DD8D7 outset;
    border-radius: 15px;
    width: 300px;
    background-color: #E6F3D8;
    margin: auto;
}

/*管理員查詢頁面*/
.SER_title{
	text-align:center;
    border: tan solid 1px;
    border-radius: 15px;
    height:50px;
    color: black;
    font-size: 40px;
    background-color: #B2E6C8;
    padding-top:20px;
}

.SER_td1{
    color: #14353A;
    font-size: 30px;
    width: 200px;
    background-color:#D7B988;
    border: gray solid 2px;	
    border-radius: 5px;
}

.SER_td2{
    width: 300px;
}

.SER_input{
	border:5px #8DD8D7 outset;
	height:30px;
	font-size: 30px;
	background-color: #E6F3D8;
	width:200px;
}

.SER_Btn{
	border:5px #8DD8D7 outset;
    border-radius: 15px;
    color: black;
    width: 150px;
    text-align: center;
    background-color: #E6F3D8;
    font-size: 25px;
    font-weight:bold;
}


.img1{
    float: right;
    width: 150px;
}

.img2{
    height:500px;
    width: 500px;
}

.in{
    color: #14353A;
    font-size: 20px;
}


/*停權開關*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
 
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
 
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
 
.slider:before {
/* 	未開顏色 */
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;
  background-color: yellow;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
 
input:checked + .slider {
	/* 	以開顏色 */
  background-color: hotpink;
}
 
input:checked + .slider:before { 
/* 按鈕顏色 */
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*上傳大頭貼*/
input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.custom-file-upload {
	font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 15px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color:#E2C0A4;
}


/*訂單歷史彈出視窗*/
.centerOn{
	margin-top:100px;
	height:500px;
	width:700px;
	position:absolute;
	top:5%;
	left:20%;
	font-size:30px;
	background-color: #F2F3D8;
    border: 2px green dashed;
    border-radius: 20px;
	
}

.shopDetails{
	border:5px #8DD8D7 outset;
    border-radius: 15px;
    color: black;
    width: 150px;
    text-align: center;
    background-color: #E6F3D8;
    font-size: 25px;
    font-weight:bold;
}

.FO_Account{
	font-size: 25px;
    font-weight:bold;
}

.SH_table{
	border: 1px black solid;
	margin:auto;
}
.close{
	border:5px #8DD8D7 outset;
    border-radius: 15px;
    color: black;
    width: 150px;
    text-align: center;
    background-color: #E6F3D8;
    font-size: 25px;
    font-weight:bold;
    margin-left:280px;
}

.pie{
	width: 500px;
	height: 400px;
}

.line{
	width: 950px;
	height: 800px;
	float:right;
	position:absolute;
	top:25%;
	left:30%;
}