.form {
	text-align: left;
}

.infoImg {
	width: 200px;
	height: 150px;
	object-fit: cover;
	border-radius: 40px;
	float: left;
	padding: 10px;
}

.f1 {
	border-radius: 30px;
	border: dashed #CECEFF 3px;
	height: fit-content;
	width: 500px;
	padding: 15px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.box1, .box2, .box3 {
	float: left;
	width: 1000px;
}

/*
活動頁面樣式*/
.loc {
	border: dash green 3px;
	height: 100px;
	background-color: green;
	border-radius: 30px;
	margin: auto;
	align: center;
}

.locImg {
	border-radius: 30px;
}

.container {
	margin: 25%;
}

.block_act {
	border: 3px green solid;
	margin: 50px;
	padding: 50px;
	border-radius: 30px;
	width: 35%;
	height: 300px;
	background-color: #FFFF6F;
	text-align: center;
	float: left;
}

.actInfo {
	margin: auto;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.col-1 {
	float: left;
	margin-left: 4%;
	width: 20%;
}

.Act_tb {
	margin: auto;
}
.Act_field{
	border: 3px green solid;
	border-radius: 30px;
	margin:5px;
}

/*
課程頁面樣式*/
.InfoImg {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.content1 {
	width: auto;
	line-height: 20px;
	padding: 5px;
	border: 3px blue dashed;
	border-radius: 30px;
	margin: 5px;
	background-color: #FFFF6F;
	float: left;
	height: 200px;
}

.content2 {
	width: auto;
	line-height: 20px;
	padding: 5px;
	border: 3px blue dashed;
	border-radius: 30px;
	margin: 5px;
	background-color: #FFFF6F;
	float: left;
	height: 200px;
}

.content3 {
	width: auto;
	line-height: 20px;
	padding: 5px;
	border: 3px blue dashed;
	border-radius: 30px;
	margin: 5px;
	background-color: #FFFF6F;
	float: left;
	height: 200px;
}

.contentIntro {
	width: 400px;
	line-height: 20px;
	padding: 5px;
	border: 3px blue dashed;
	border-radius: 30px;
	margin: 5px;
	background-color: #FFFF6F;
	float: left;
	height: 200px;
}

.conpic {
	float: left;
}

.block {
	background-image: url(../images/浮世繪背景.jpg);
	border-radius: 30px;
	border: 5px brown solid;
	margin: 10px;
}

/*
新增頁面樣式*/
.update {
	border: 5px green solid;
	border-radius: 30px;
	margin: auto;
	text-align: center;
	padding: 10px;
}
/* 主頁樣式*/
.show {
	width: 1000px;
	text-align: center;
	margin: auto;
}

.container {
	margin: auto;
	text-align: center;
}