.brain1 {
    float: left;
    border: 5px solid gray;
    border-radius: 15px;
    height: fit-content;
    background-image: url(); 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 15px;
    margin-left: 200px;
    color: black;
    margin-top: 25px;
    
}



