.shopCar_button{
	border-radius:10px;
	font-size:25px;
	color:#000079;
}

.shopCar_button1{
	height: 30px;
}

.shopCar_div{
	height:600px;
	
}

.shopCar_div1{
	text-align: center;
}

.shopCar_div2{
	width: 900px; 
	margin-left: 500px; 
	background-color: white; 
	overflow:auto;
}

.shopCar_div3{
	text-align: right;  
	width: 900px;  
	margin-left: 500px; 
	background-color: #e2dfdd;
}

.shopCar_div4{
	align-items:center;
	width:900px; 
	margin-left: 500px;
	text-align: center;
}

.shopCar_div5{
	align-items:center;
	background-color:white;
	width:900px; 
	margin-left: 500px;	
	margin-bottom:10px;
	margin-top:10px;
	
}

.shopCar_div6{
	float:left; 
	margin-left: 50px; 
	width: 95px; 
	text-align:center;
	margin-bottom:5px;
}

.shopCar_div7{
	align-items:center;
	width:900px;
	margin-left: 500px;	
	font-size:40px;
	color:#003E3E;
	background-color:#A6FFFF;
	border:5px double #003E3E;
	line-height:0.5;
}

.shopCar_w95{
	width:95px;
}
.shopCar_w96{
	width:95px;
	background-color:#000079;
	color:#FFD306;
}

.shopCar_span{
	border: none; 
/* 	margin: 0;  */
	padding:0; 
	font-size:30px;
}

.shopCar_span2{
	font-size:50px; 
	color:red; 
	text-align:center; 
	display:block;
	margin-top:15px;
	font-weight:bold;
}

.shopCar_list, .track_list{
	border:1px solid black;
	border-collapse:collapse;
	text-align:center;
	font-size:25px;
	color:#642100;
	text-align: center;

}
.shopCar_list th{
	border:1px solid black;
	background-color:#FFE153;
	color:#642100;
}
.shopCar_list tr td,th, .track_list tr td{
	border:1px solid black;
}
.shopCar_div7 input{
	height:40px;
	margin-left:10px;
	font-size:30px;
}
.shopCar_div7 button{
	width:200px;
	height:50px;
	font-size:30px;
	border-radius:5px;
	background-color:#006030;
	color:#FFD306;
	margin-right:10px;
	margin-bottom:10px;
}
